*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 65%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: var(--primary-color);
}

p{
    line-height: 1.5;
    margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

a{
    text-decoration: none;
}

table{
    width: 100%;
    min-width: 360px;
    border-collapse: collapse;
}

table caption{
    font-style: italic;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: .5rem;
}

table td, table th{
    padding: .8rem;
    border: .1rem solid var(--gray-color);
    text-align: left;
}

table thead{
    background: var(--gray-color);
}